<nav class="navbar navbar-default navbar-expand-md navbar-dark shadow navbar-fixed-top">
        <div class="container">
            <div class="navbar-header-main">
                <button class="navbar-toggler navbar-left-d" type="button" data-bs-toggle="collapse" data-bs-target="#bs-navbar-collapse-3">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand navbar-brand-d" href="{{ site.baseurl }}/">{{site.title}}</a>

                <button class="navbar-toggler navbar-right-d" type="button" data-bs-toggle="collapse" data-bs-target="#bs-navbar-collapse-2">
                    <i class="bi bi-three-dots-vertical" style="font-size: 1.5rem;"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-d" id="bs-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-link active" href="#">Courses</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>