<nav class="navbar navbar-expand-lg navbar-dark shadow navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>
            
            <a class="navbar-brand" href="{{ site.baseurl }}/">我的平台</a>
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Courses</a>
                <a class="nav-link" href="#">portfolio</a>
            </div>
        </div>
        
    </nav>