<aside class="sidebar-left shadow-sm">
        <h6 class="text-uppercase text-muted fw-bold">課程章節</h6>
        <ul class="nav flex-column">
            {% assign onshape_courses = site.courses | where_exp: "item", "item.path contains page.type" %}
            {% for item in onshape_courses %}
            <li class="nav-item">
                <a class="nav-link {% if item.url == page.url %}fw-bold text-primary{% else %}text-dark{% endif %}" 
                   href="{{ item.url | relative_url }}">
                   {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="nav flex-column">
            {% assign onshape_menu = site.courses | where_exp: "item", "item.path contains 'onshape/menu' " %}
            {% for item in onshape_menu %}
            <li class="nav-item">
                <div class="nav-link fw-bold text-dark mt-2">{{ item.title }}</div>
                
                {% if item.subitems %}
                <ul class="nav flex-column ms-3">
                    {% for sub in item.subitems %}
                    <li class="nav-item">
                        {% if sub.url %}
                        <a class="nav-link py-1 text-muted" href="{{ sub.url | relative_url }}">{{ sub.name }}</a>
                        {% else %}
                        <div class="nav-link py-1 text-secondary small">{{ sub.name }}</div>
                        {% endif %}

                        {% if sub.children %}
                        <ul class="nav flex-column ms-3 border-start">
                            {% for child in sub.children %}
                            <li class="nav-item">
                                <a class="nav-link py-0 my-1 text-muted smaller" href="{{ child.url | relative_url }}">{{ child.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </aside>