<aside class="sidebar-left shadow-sm rounded-4" id="bs-navbar-collapse-3">
        
        <ul class="nav flex-column">
            <h4 class="text-uppercase text-menu fw-bold">章節</h4>
            {% assign menu = site.data[page.type] %}
            
            {% for item in menu %}
            <li class="nav-item">
                <div class="nav-link text-menu-tit fw-bold mt-2 ">{{ item.title }}</div>
                
                {% if item.subitems %}
                <ul class="nav flex-column ms-3">
                    {% for sub in item.subitems %}
                    <li class="nav-item">
                        {% if sub.url %}
                        <a class="nav-link py-1 {% if sub.url == page.url %}fw-bold text-primary{% else %}text-menu{% endif %}" 
                            href="{{ sub.url | relative_url }}">
                            {{ sub.name }}
                        </a>
                        {% else %}
                        <div class="nav-link py-1 text-secondary small">{{ sub.name }}</div>
                        {% endif %}

                        {% if sub.children %}
                        <ul class="nav flex-column ms-3 border-start">
                            {% for child in sub.children %}
                            <li class="nav-item">
                                <a class="nav-link py-0 my-1 smaller {% if child.url == page.url %}fw-bold text-primary{% else %}text-menu{% endif %}" 
                                    href="{{ child.url | relative_url }}">
                                    {{ child.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </aside>