<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                    <div class="col-sm-5">
                        <div class="team-member">
                            <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                            <h4>{{ member.name }}</h4>
                            <p class="text-muted">{{ member.position }}</p>
                            <ul class="list-inline social-buttons">
                                {% for network in member.social %}
                                <li>
                                    <a href="{{ network.url }}">
                                        <i class="fa fa-{{ network.title }}"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>      
                {% endfor %}
                <div class="col-sm-7 about-contents">
                    <h3 class="section-heading">我是 胡勝紘，一個熱衷實作的機械系學生。</h3>
                    <h3 class="section-heading">擅長使用 Onshape 進行 3D 建模，並透過 3D 列印與雷切 將想法實體化。</h3>
                    <h3 class="section-heading">不只是機構，我也深入探究 C++、Arduino 及 ESP32 的程式領域，為作品增加多樣性。</h3>
                </div>
            </div>
        </div>
    </section>