<!-- courses Grid Section -->
    <section id="courses" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Courses</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row justify-content-center g-4 gy-5">
                {% for course in site.courses %}
                    <div class="col-md-4 col-sm-6 course-item">
                    <a href="#courseModal{{ course.modal-id }}" class="course-link" data-toggle="modal">
                        <div class="course-hover">
                            <div class="course-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/course/{{ course.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="course-caption">
                        <h4>{{ course.title }}</h4>
                        <p class="text-muted">{{ course.desc }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
