 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <div id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for image in post.img %}
                                        <li data-target="#carousel-{{ post.modal-id }}" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                                    {% endfor %}
                                </ol>

                                <div class="carousel-inner">
                                    {% for image in post.img %}
                                    <div class="item {% if forloop.first %}active{% endif %}">
                                        <img src="img/portfolio/{{ image }}" class="img-responsive center-block">
                                    </div>
                                    {% endfor %}
                                </div>

                                <a class="left carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="prev">
                                    <span class="chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="next">
                                    <span class="chevron-right"></span>
                                </a>
                            </div>
                        
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
