---
layout: none
---
<!DOCTYPE html>
<html lang="zh-Hant">
    {% include old/database/head.html %}
<body>

    {% include old/database/navbar.html %}
    <div class="main-wrapper">
    {% include old/database/sidebar-left.html %}
    {% include old/database/main-content.html %}
    {% include old/database/sidebar-right.html %}
    </div>
    {% include old/footer.html %}
    {% include old/js.html %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
